<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>500 Error Page</title>
  </head>
  <body>
    <h2>500 Error. Server Not Found</h2>
  </body>
</html>
